<table>
  <tr>
    <th>Rental</th>
    <th>ID</th>
    <th>Check-in date</th>
    <th>Check-out date</th>
    <th>Previous reservation ID</th>
  </tr>
  {% for reservation in reservations %}
      <tr>
        <td>{{ reservation.0 }}</td>
        <td>{{ reservation.1 }}</td>
        <td>{{ reservation.2 }}</td>
        <td>{{ reservation.3 }}</td>
        <td>{{ reservation.4 }}</td>
      </tr>
  {% endfor %}
</table>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>