<table>
  <tr>
    <th>Rental</th>
    <th>ID</th>
    <th>Check-in date</th>
    <th>Check-out date</th>
    <th>Previous reservation ID</th>
  </tr>
  {% for reservation in reservations %}
      <tr>
        <td>rental-{{ reservation.rental_id }}</td>
        <td>{{ reservation.id }}</td>
        <td>{{ reservation.check_in }}</td>
        <td>{{ reservation.check_out }}</td>
      {% if reservation.previous_reservation_id %}
        <td>{{ reservation.previous_reservation_id }}</td>
      {% else %}
          <td>-</td>
      {% endif %}
      </tr>
  {% endfor %}
</table>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>